In [2]:
import pandas as pd
import numpy as np

In [4]:
# pd?

In [7]:
pd.__version__

'1.1.3'

In [10]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0]) #constructor method
print(ser)
print(type(ser), '\n')

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
<class 'pandas.core.series.Series'>

In [12]:
arr = ser.values

print(arr)

ind = ser.index
print(ind)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

In [14]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a','b','c','d'])

print(ser)
ind = ser.index
print(ind)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
Index(['a', 'b', 'c', 'd'], dtype='object')

In [18]:
dict = {'a': 1, 2: 'two', 'third': True}
print(dict)

{'a': 1, 2: 'two', 'third': True}

In [19]:
ser = pd.Series(dict)
print(ser)

a           1
2         two
third    True
dtype: object

In [23]:
population_dict = {'California': 38332521,
'Texas': 26448193,
"New York": 19651127,
'Florida': 19552860,
'Illinois': 12882135}

population = pd.Series(population_dict)

polulation = pd.Series(population_dict)
print(polulation)

population['California':'New York']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [33]:
area_dict = {'California': 423967,'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}

area = pd.Series(area_dict)

print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [37]:
states = pd.DataFrame({'population': population, 'area': area})

print(states)
print(states.index)
print(states.columns)
print(states['area'])

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995
Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')
Index(['population', 'area'], dtype='object')
California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [42]:
arr = np.random.rand(3, 2)
print(arr, '\n')

pd.DataFrame(arr, columns=['foo', 'bar'], index=['a', 'b', 'c'])

[[0.28638554 0.48233543]
 [0.16382404 0.04601273]
 [0.32723442 0.26428772]]

        foo       bar
a  0.286386  0.482335
b  0.163824  0.046013
c  0.327234  0.264288

In [56]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a','b','c','d'])

print(ser['b'])
print(0.25 in ser) # key 여부 확인
print(ser.index)
print(ser.keys())

ser['e'] = 1.25 # add a new value
ser['a'] = 0.125
print(ser)

print(ser['a':'c']) # 'c'도 포함

print(ser[['a', 'e']])

0.5
False
Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['a', 'b', 'c', 'd'], dtype='object')
a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64
a    0.125
b    0.500
c    0.750
dtype: float64
a    0.125
e    1.250
dtype: float64

In [60]:
states['density'] = states['population'] / states['area']

print(states)

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [64]:
states.loc['New York']

states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [68]:
print(states.loc[states.density > 100, ['population', 'density']], '\n')

          population     density
New York    19651127  139.076746
Florida     19552860  114.806121